.wrapper {
  height: 110vh;
  justify-content: center;
  align-items: top  ;
  position: static;
  padding-top: 45px;
  display: flex;
  background-image: url(../../img/home-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
