.userForm-wrapper {
  height: calc(110vh);
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-image: url(../../../img/login-image.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;

  

  form {
    position: static;
    top: 10px;
    
    border: 1px solid black;
    padding: 23px;
    border-radius: 10px;
    width: 400px;
    background-color: rgb(34, 231, 237);
    border-color: black;
  }
}
