.vehicle-form-wrapper {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items:baseline;
  background-image: url(../../../img/login-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .form {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    background-color: rgb(34, 231, 237);
    border-color: black;
  }
}
